body {
  position: relative;
  margin: 0;
}

#the-stage {
  min-height: 100%;

  width: 600px;
  margin: 0 auto;

  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#the-loader {
  text-align: center;

  margin: 30px;
}
